@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;

  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  font-family: "Bellefair", sans-serif;
  height: 100vh;
  background: url("./assets/backgrounds/background-home-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  body {
    height: 100vh;
    background: url("./assets/backgrounds/background-home-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1024px) {
  body {
    height: 100vh;
    background: url("./assets/backgrounds/background-home-tablet.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.line {
  width: 100%;
  border: 0.1px solid rgba(151, 151, 151, 0.5);
  transform: translateX(25px);
  z-index: 99;
}

/* Remove the line for tablet view */
@media screen and (max-width: 1024px) {
  .line {
    display: none;
  }
}
